

<h2>My To Do List</h2>

<div ng-app="toDoApp" ng-controller="toDoItemCtrl">
    <ul>
        <li ng-repeat="toDoItem in toDoList" class="list-unstyled form-inline">
            <div ng-if="!isEditing(toDoItem)">
                <div class="checkbox">
                    <input type="checkbox" ng-model="toDoItem.isComplete" ng-click="complete(toDoItem)"/>
                </div>
                <span ng-click="setEdit(toDoItem)">{{toDoItem.description}}</span>
            </div>
            <div ng-if="isEditing(toDoItem)">
                <div class="checkbox">
                    <input type="checkbox" disabled="disabled" ng-model="toDoItem.isComplete" />
                </div>
                <input type="text" ng-model="update.toDoItem.description" />
                <Button type="button" ng-click="updateDescription()">Save</Button>
                <Button type="button" ng-click="clearEdit()">Cancel</Button>
            </div>
        </li>

        <li ng-if="states.showToDoForm" class="list-unstyled form-inline">
            <div class="checkbox">
                <input type="checkbox" disabled="disabled"/>
            </div>
            <input type="text" class="form-control" placeholder="Description" ng-model="new.toDoItem.Description" />
            <button type="button" ng-click="addToDoItem()" class="btn btn-primary">Add</button>
            <button type="button" ng-click="showToDoForm(false)" class="btn btn-default">Cancel</button>
        </li>

    </ul>
    <a ng-click="showToDoForm(true)" ng-if="!states.showToDoForm" class="btn btn-primary">Add ToDo</a>

    @*add javascript files here*@
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/js/ToDoApp.js"></script>
    <script src="~/js/ToDoAppController.js"></script>
</div>

